body {
    background-image: url("assets/freedom.jpg");
}
h1 {
    text-transform: uppercase;
    font-weight:lighter;
    margin:  0 auto;
    text-align: center;
}
p {
    text-align: center;
    font-style: italic;
}
